 <IfModule mod_rewrite.c>
    RewriteEngine On

    # Block access to sensitive files & folders
    RewriteRule ^(vendor|storage|app|bootstrap|config|database|resources|routes|tests|artisan|composer\.(json|lock)|package\.json|vite\.config\.js|webpack.*|phpunit\.xml|\.env)$ - [F,L,NC]

    # Redirect all other requests to public/
    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule